$black: #000000;
$gray-darker: #2b3743;
$gray-dark: #666666;
$gray: #A3A3A3;
$gray-light: #cccccc;
$gray-lighter: #ececec;
$gray-extra-lighter: #fafafa;
$gray-lightest: #f5f7fa;
$white: #ffffff;

$hero-background: #2b3743;

$primary: #f0283c;
$primary-dark: #b51316;

$secondary: #2b3742;
$secondary-dark: #111c22e6;

$success: #2ecd99;
$success-light: #4bd2a6;

$info: #5bc0de;
$info-light: #31b0d5;

$warning: #f0c541;
$warning-light: #f0cb5c;

$error: #ed6f56;
$error-light: #ed836d;

$extra-large-up: '(min-width: 1200px)';

$large-up: '(min-width: 992px)';

$medium-up: '(min-width: 769px)';

$small-up: '(min-width: 577px)';
