@import "~/src/sass/style.scss";


.movies-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding-top: 20px;

    &__spinner {
        padding: 20px 0;
    }
}