@import '~/src/sass/style';

.search-input {
  &__control {
    border: 1px solid $gray-dark;
    border-radius: 50px;
    padding: 10px 50px 10px 20px;
    color: $gray-dark;
    line-height: 1.33;
    height: 42px;
    background: transparent url(~/src/images/search.svg) no-repeat right 15px center/30px 30px;
    width: 100%;
    outline-color: $primary;

    &--m {
      font-size: 14px;
    }

    &--l {
      font-size: 18px;
    }
  }
}
